<h4><i class='fas fa fa-book-open-reader'> StoryBooks</i></h4>
<section class='section'>
  <p class='lead'>
    Create public and private stories from your life.
  </p>
</section>
<div class='divider'></div>
<section class='section'>
  <a href='/auth/google' class='btn red darken-1 waves-effect waves-light'>
    <i class='fab fa fa-google'> Login with Google</i>
  </a>
</section>